<!DOCTYPE html>

<html lang="en">
    <head>
        <title>panke.me - {{page.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="panke.me - Hold my beer; watch this." />
        <meta name="author" content="R.J. Lorimer" />
        <meta charset="UTF-8" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Roboto+Slab' rel='stylesheet' type='text/css'>
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
        <link href="/stylesheets/syntax-dark.css" rel="stylesheet" />
        <link href="/stylesheets/main.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="navrow navbar-fixed-top">
            <div class="container">
                <div class="navbar navbar-inverse ">
                    <a class="navbar-brand" href="/">
                        <span class="title_letter">P</span>an<span class="title_letter">k</span>e.me
                    </a>

                    <ul class="nav navbar-nav ">

                        <li>
                            <a role="menuitem" tabindex="-1" href="/cats_and_tags.html">分类·标签</a>
                        </li>
                        <li class="visible-lg">
                            <a role="menuitem" tabindex="-1" href="/category/sublime/">Sublime text</a>
                        </li>
                        
                        <li class="" ><a href="/about.html">关于</a></li>
                        <!--<li class="dropdown hidden-sm" id="explore">
                            <a class="dropdown-toggle" role="button" id="exploredrop" data-toggle="dropdown" href="#">Explore <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="exploredrop">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/cats_and_tags.html#categories">Categories</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/cats_and_tags.html#tags">Tags</a>
                                </li>
                                <li class="divider"></li>
                                <li role="presentation" >
                                    <a role="menuitem" tabindex="-1" href="/tag/java/">Java Articles</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/category/distilling-jruby/">Distilling JRuby Series</a>
                                </li>
                                <li role="presentation" >
                                    <a role="menuitem" tabindex="-1" href="/tag/jekyll/">Jekyll Articles</a>
                                </li>
                            </ul>
                        </li>-->
                    </ul>

                    <!--<ul class="nav navbar-nav pull-right hidden-sm">
                        <li class="dropdown" id="elsewhere">
                            <a class="dropdown-toggle" role="button" id="elsewheredrop" data-toggle="dropdown" href="#">
                                Elsewhere <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="elsewheredrop">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="http://www.twitter.com/">Twitter</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  href="http://www.linkedin.com/in/rjlorimer">LinkedIn</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  href="https://github.com/">GitHub</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  href="http://live.xbox.com/en-US/profile/profile.aspx?pp=0&GamerTag=Real+Jenius">XBox Live</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  href="http://beeradvocate.com/user/profile/">BeerAdvocate</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" id="feeds">
                            <a class="dropdown-toggle" role="button" id="feedsdrop" data-toggle="dropdown" href="#">
                                Feeds <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="feedsdrop">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  href="/atom.xml">Everything</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  href="/category/journal/atom.xml">Journal</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  href="/category/article/atom.xml">Articles</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  href="/tag/java/atom.xml">Java</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  href="/tag/ruby/atom.xml">Ruby</a>
                                </li>
                                <li role="presentation">
                                    <a  role="menuitem" tabindex="-1" href="/tag/linux/atom.xml">Linux</a>
                                </li>
                            </ul>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>