---
layout: main
---
<article class="page">
	<div class="page-header">
		<h2 class="entry-title"><a href="{{page.url}}">{{page.title}}</a>
			
		</h2>
        <small>
                <span class="entry-date">{{page.date  | date: "%Y-%m-%d"}}</span>
        </small>
	</div>

	<div class="article-body">
		<div class="row">
			<div class="col-lg-12">
				<div class="article-body">
					{{ content }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-offset-7">
				{% assign item = page %}
				{% include post_details.html %}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div id="disqus_thread"></div>
				<!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ post.id }}" data-title="{{ post.title }}" data-url="{{ post.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"panke"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->
			</div>
		</div>
	</div>
</article>